@import 'colors.scss';


section {
  padding: 90px 0;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  position: fixed;
  animation: fadeIn 1s;
  overflow-y: scroll;
  text-align: center;
  align-content: center;
  background-color: $overlay;


  .close {
    cursor: pointer;
    margin: 20px 0;
  }
  .preview {
    padding: 50px;
    img {
      max-width: 100%;
    }
  }
}