@import 'colors.scss';


main {
  padding: 95px 0;
  text-align: center;

  /**
  * Gallery styles
  */
  #gallery {
    animation: fadeIn 5s;
    

    .inner {
      display: flex;
      justify-content: space-between;
    }
    

    #photos {
      width: 792px;
      
      img {
        float: left;
        margin-bottom: 24px;
      }
      img:first-child {
        margin-right: 24px;
      }
    }


    #excerpt {
      width: 385px;
      text-align: left;

      h1 {
        font-size: 26px;
        margin: 0 0 30px;
        padding-bottom: 15px;
        font-weight: lighter;
        border-bottom: 1px solid #cacaca;
      }
      #note {
        h4 {
          color: $red;
        }
        p {
          font-weight: bold;
        }
        font-size: 16px;
        font-family: 'OpenSans-Bold';
      }

      #description {
        margin-bottom: 40px;
      }
    }
  }


  /**
  * Posts styles
  */
  #posts {
    display: none;
    animation: fadeIn 5s;
    text-align: left;
    
    h2 {
      font-size: 42px;
      text-align: center;
      margin-bottom: 60px;
    }
    #grid { 
      display: flex;
      justify-content: space-between;

      .post {
        width: calc(100%/3 - 20px);

        p {
          font-size: 16px;
          margin: 0 0 30px;
        }
        h4 {
          font-size: 16px;
          margin-bottom: 10px;
          font-family: 'OpenSans-Bold';
        }
        .more {
          color: $white;
          font-size: 16px;
          padding-bottom: 5px;
          border-bottom: 2px solid $red;
          text-decoration: none;
          font-family: 'OpenSans-Bold';
        }
        .thumb {
          display: block;
          line-height: 0;
          margin-bottom: 40px;
          border-bottom: 5px solid $red;
        }
      }
    }
  }

  #spinner {
    margin: 100px 0;
  }
}