@media only screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 0;
  }
  main {
    padding: 40px;

    .inner {
      width: 100%;
    }
    
    #gallery {

      #photos {
        width: 100%;
        margin-right: 20px;

        img {
          width: 47%;
        }
      }
      #excerpt {
        width: 100%;
        
        h1 {
          margin: 0 0 10px;
          padding-bottom: 10px;
        }
        #description {
          margin: 0;
        }
      }
    }

    #posts {
      padding: 40px 0;
      .thumb {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1069px) {
  main {
    #gallery {
      .inner {
        display: block;
      }

      #photos {
        img {
          width: 48%;
        }
        img:first-child {
          margin-right: 38px;
        }
      }
    }
    
  }
}


@media only screen and (max-width: 1031px) {
  main {
    padding: 30px;

    #gallery {
      #photos {
        img {
          width: 48%;
        }
      }
    }
  }
}


@media only screen and (max-width: 1011px) {
  main {
    #gallery {
      #photos {
        img {
          width: 47%;
        }
      }
    }
  }
}

@media only screen and (max-width: 695px) {
  main {
    #gallery {
      #photos {
        img {
          width: 45%;
        }
      }
    }

    #posts {
      h2 {
        font-size: 30px;
      }
    }
  }
}


@media only screen and (max-width: 500px) {
  main {
    #gallery {
      #photos {
        img {
          width: 100%;
        }
      }
    }

    #posts {
      #grid {
        display: block;

        .post {
          width: 100%;
          margin-bottom: 50px;
        }
      }
    }
  }
}